* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container1 {
  height: 100vh;
  width: 5vw;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 10px 0px 20px 10px #c9ccd5;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.logo {
  width: 50px;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.navigation-items {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

i {
  font-size: 20px;
}

i:hover {
  cursor: pointer;
}

.container2 {
  height: 100vh;
  width: 90vw;
  background-color: #e8f6ef;
  padding: 20px 50px;
  z-index: 0;
}

.top-intro {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.intro-text {
  margin-left: 50px;
}

.login-status {
  display: flex;
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.category {
  height: 100px;
  width: 230px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.graph {
  height: 35%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  overflow-y: visible;
}

.chart {
  margin-left: 50px;
  width: 550px;
}

.inner-box {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #1e6f5c;
  margin-top: 40px;
}

.outer-box {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #29bb89;
  margin-top: 35px;
  margin-left: 5px;
}
